<div class="table">

    <mat-card class="content">
      <mat-card-title class="title">Patient notifications</mat-card-title>
      <mat-card-subtitle class="title">All alerts regarding patients are be displayed here</mat-card-subtitle>
      <mat-card-content class="alert">
        <div *ngIf="alertService.caregiverId===id">
          <div *ngFor="let msg of alertService.msg">
            {{msg}}
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <h1 class="title">View all medication plans of an assigned patient</h1>
   
    <mat-form-field appearance="fill" class="content">
        <mat-label>Choose patient</mat-label>
        <mat-select (selectionChange)="selectedPatientValue($event)" [(value)]="selectedPatient" [formControl]="selectPatientFormControl" required>
          <mat-option *ngFor="let ds of patients" [value]="ds.id">
            {{ds.name}}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-card class="content" *ngFor="let plan of dataSource">
        <mat-card-title class="title">Medication plan</mat-card-title>
        <mat-card-subtitle class="title">Period of the treatment is {{plan.treatmentPeriod}}</mat-card-subtitle>
        <mat-card-content>

          <table mat-table [dataSource]="plan.medicationDistributions" class="mat-elevation-z8">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
        
            <ng-container matColumnDef="intake interval">
                <th mat-header-cell *matHeaderCellDef> Intake interval </th>
                <td mat-cell *matCellDef="let element"> {{element.intakeInterval}} </td>
            </ng-container>

            <ng-container matColumnDef="med id">
                <th mat-header-cell *matHeaderCellDef> Id. medication </th>
                <td mat-cell *matCellDef="let element"> {{element.medication.id}} </td>
            </ng-container>

            <ng-container matColumnDef="medication name">
                <th mat-header-cell *matHeaderCellDef> Medication name </th>
                <td mat-cell *matCellDef="let element"> {{element.medication.name}} </td>
            </ng-container>

            <ng-container matColumnDef="dosage">
                <th mat-header-cell *matHeaderCellDef> Dosage </th>
                <td mat-cell *matCellDef="let element"> {{element.medication.dosage}} </td>
            </ng-container>

            <ng-container matColumnDef="side effects">
                <th mat-header-cell *matHeaderCellDef> Side effects </th>
                <td mat-cell *matCellDef="let element"> {{element.medication.sideEffects}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card-content>
    </mat-card>

  </div>