<mat-card class="form">
    <mat-card-title class="title">Patient Id.: {{patient.id}}</mat-card-title>

    <mat-card-content>
        <mat-list role="list" class="list">
            <mat-list-item role="listitem" class="listitem">Name: {{patient.name}}</mat-list-item>
            <mat-list-item role="listitem" class="listitem">
                <div *ngIf="patient.dob===null"> Date of birth: N/A </div>
                <div *ngIf="patient.dob!==null"> Date of birth: {{patient.dob.toString().substr(0, 10)}} </div>
            </mat-list-item>
            <mat-list-item role="listitem" class="listitem">Gender: {{patient.gender}}</mat-list-item>
            <mat-list-item role="listitem" class="listitem">Address: {{patient.address}}</mat-list-item>
            <mat-list-item role="listitem" class="listitem">Medical record: {{patient.medicalRecord}}</mat-list-item>
            <mat-list-item role="listitem" class="listitem">Caregiver: {{patient.caregiver.name}}</mat-list-item>
            <mat-list-item role="listitem" class="listitem">Username: {{patient.user.username}}</mat-list-item>
            <mat-list-item role="listitem" class="listitem">Password: {{patient.user.password}}</mat-list-item>
          </mat-list>
    </mat-card-content>

  </mat-card>

  <mat-card class="form" *ngFor="let plan of dataSource">
    <mat-card-title class="title">Medication plan with Id#{{plan.id}}</mat-card-title>
    <mat-card-subtitle class="title">Period of the treatment is {{plan.treatmentPeriod}}</mat-card-subtitle>
    <mat-card-content>

      <table mat-table [dataSource]="plan.medicationDistributions" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="intake interval">
            <th mat-header-cell *matHeaderCellDef> Intake interval </th>
            <td mat-cell *matCellDef="let element"> {{element.intakeInterval}} </td>
        </ng-container>

        <ng-container matColumnDef="med id">
            <th mat-header-cell *matHeaderCellDef> Id. medication </th>
            <td mat-cell *matCellDef="let element"> {{element.medication.id}} </td>
        </ng-container>

        <ng-container matColumnDef="medication name">
            <th mat-header-cell *matHeaderCellDef> Medication name </th>
            <td mat-cell *matCellDef="let element"> {{element.medication.name}} </td>
        </ng-container>

        <ng-container matColumnDef="dosage">
            <th mat-header-cell *matHeaderCellDef> Dosage </th>
            <td mat-cell *matCellDef="let element"> {{element.medication.dosage}} </td>
        </ng-container>

        <ng-container matColumnDef="side effects">
            <th mat-header-cell *matHeaderCellDef> Side effects </th>
            <td mat-cell *matCellDef="let element"> {{element.medication.sideEffects}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>

</mat-card>