<mat-toolbar color="primary">
  <a routerLink="/"><mat-icon>healing</mat-icon>Medical Platform</a>

    <ul *ngIf="user===''" fxLayout="row" fxLayoutGap="80px">
      <button mat-icon-button (click)="login()">Log in</button>
    </ul>

    <ul *ngIf="user==='doctor'" fxLayout="row" fxLayoutGap="100px">
      <button mat-flat-button (click)="medication()">Medication</button>
      <button mat-flat-button (click)="patients()">Patients</button>
      <button mat-flat-button (click)="caregivers()">Caregivers</button>
      <button mat-flat-button (click)="plans()">Medication plans</button>
      <button mat-flat-button (click)="logout()">Log out</button>
    </ul>

    <ul *ngIf="user==='patient' || user==='caregiver'" fxLayout="row" fxLayoutGap="100px">
      <button mat-flat-button (click)="logout()">Log out</button>
    </ul>

</mat-toolbar>