@import "../../variables";

.example-spacer {
    flex: 1 1 auto;
  }

.mat-icon {
  position: relative;
  top: 5px;
  color: $white;
}

a {
  color: $white;
  text-decoration: none;
  padding: 5px;
}

a.active,
a:hover {
  background: $hover;
  border-radius: 3px;
}

button  {
  background-color: $deep-purple;
  color: $white;
}

button:focus {     
  background-color:$yellow;    
  color: $deep-purple;
}