<mat-tab-group mat-stretch-tabs [(selectedIndex)]="index" (selectedTabChange)="onTabChanged($event);">
  <mat-tab label="Create">
    <div class="container">
      <mat-card class="form">
        <mat-card-title class="title">Create a new medication record</mat-card-title>
          
        <mat-card-content>
          <form [formGroup]="medicationForm" class="content">
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput placeholder="medicine name" formControlName="nameCtrl" required/>
              <mat-error *ngIf="medicationForm.controls.nameCtrl.invalid">Name is required.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Side effects</mat-label>
              <input matInput placeholder="list of side effects" formControlName="sideEffectsCtrl"/>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Dosage</mat-label>
              <input matInput placeholder="allowed dosage per day" formControlName="dosageCtrl" required/>
              <mat-error *ngIf="medicationForm.controls.dosageCtrl.invalid">Dosage is required.</mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="save()">Save</button>
          <button mat-raised-button color="accent"(click)="discard()">Discard</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="View">
    <div class="table">
      <h1 class="title">View all medication records</h1>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="side effects">
          <th mat-header-cell *matHeaderCellDef> Side Effects </th>
          <td mat-cell *matCellDef="let element"> {{element.sideEffects}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="dosage">
          <th mat-header-cell *matHeaderCellDef> Dosage </th>
          <td mat-cell *matCellDef="let element"> {{element.dosage}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-tab>

  <mat-tab label="Update">
    <div class="container">
      <mat-card class="form">
        <mat-card-title class="title">Update an existing medication record</mat-card-title>
        
        <mat-card-content>

          <mat-form-field appearance="fill" class="content">
            <mat-label>Choose medicine</mat-label>
            <mat-select (selectionChange)="selectedValue($event)" [formControl]="selectFormControl" required>
              <mat-option *ngFor="let ds of dataSource" [value]="ds.id">
                {{ds.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="selectFormControl.hasError('required')">Please choose which medicine to update</mat-error> 
          </mat-form-field>
            
          <form [formGroup]="medicationForm" class="content">
              
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput placeholder="medicine name" formControlName="nameCtrl" required/>
              <mat-error *ngIf="medicationForm.controls.nameCtrl.invalid">Name is required.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Side effects</mat-label>
              <input matInput placeholder="list of side effects" formControlName="sideEffectsCtrl"/>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Dosage</mat-label>
              <input matInput placeholder="allowed dosage per day" formControlName="dosageCtrl" required/>
              <mat-error *ngIf="medicationForm.controls.dosageCtrl.invalid">Dosage is required.</mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="update()" [disabled]="selectFormControl.invalid">Save</button>
            <button mat-raised-button color="accent"(click)="discard()">Discard</button>
          </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Delete">
    <div class="containerDelete">
      <mat-card class="form">
        <mat-card-title class="title">Delete an existing medication record</mat-card-title>
        
        <mat-card-content>
          <mat-form-field appearance="fill" class="content">
            <mat-label>Choose medicine</mat-label>
            <mat-select (selectionChange)="selectedValue($event)" [formControl]="selectFormControl" required>
              <mat-option *ngFor="let ds of dataSource" [value]="ds.id">
                {{ds.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="selectFormControl.hasError('required')">Please choose which medicine to delete</mat-error> 
          </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="warn" (click)="delete()" [disabled]="selectFormControl.invalid">Delete</button>
          </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>