<div class="container">
  <h1 class="app-title">Medical Platform</h1>
  <h1 class="title">Login</h1>

  <form [formGroup]="loginForm">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput placeholder="username" formControlName="usernameCtrl" required />
      <mat-error *ngIf="loginForm.controls.usernameCtrl.invalid">{{ usernameErrorMessage }}</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="password" formControlName="passwordCtrl" required />
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="loginForm.controls.passwordCtrl.invalid">Password is required!</mat-error>
    </mat-form-field>

    <button mat-raised-button class="btn" id="loginButton" color="primary" (click)="login()" [disabled]="loginForm.invalid" >
      Login
    </button>
  </form>
</div>
