@import "../../variables";

.container {
  padding: 30px;
  margin-top: 130px;
  text-align: center;

  .mat-form-field {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: auto;
  }

  .btn {
    display: block;
    margin: 5px auto 5px auto;
  }

  .resp {
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    width: auto;
    max-width: 400px;
    border: 1px solid $indigo;
    color: $white;
    background-color: $indigo;
    margin: auto;
    margin-top: 20px;
  }
}

.mat-display-1 {
    text-align: center;
  }
  
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 100%;
    max-width: 350px;
  }
  
  p {
    margin: 0px;
    padding: 0px;
  }
  
  a {
    color: $indigo;
    margin-bottom: 20px;
    margin-top: 5px;
  }

  .title {
    color: $deep-purple;
    font-weight: 300;
    font-size: 30px;
    padding-bottom: 10px;
  }

  .app-title {
    color: $deep-purple;
    font-weight: 400;
    font-size: 35px;
  }