<mat-tab-group mat-stretch-tabs [(selectedIndex)]="index" (selectedTabChange)="onTabChanged($event);">
    <mat-tab label="Create">
      <div class="container">
        <mat-card class="form">
            <mat-card-title class="title">Create a new patient record</mat-card-title>
              
            <mat-card-content>
                <form [formGroup]="userForm" class="content">
                    <mat-form-field appearance="fill">
                      <mat-label>Username</mat-label>
                      <input matInput placeholder="username" formControlName="usernameCtrl" required />
                      <mat-error *ngIf="userForm.controls.usernameCtrl.invalid">{{ usernameErrorMessage }}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label>Password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" placeholder="password" formControlName="passwordCtrl" required />
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
                        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                      </button>
                      <mat-error *ngIf="userForm.controls.passwordCtrl.invalid">Password is required!</mat-error>
                    </mat-form-field>
                </form>

              <form [formGroup]="patientForm" class="content">
                <mat-form-field appearance="fill">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="patient name" formControlName="nameCtrl" required/>
                  <mat-error *ngIf="patientForm.controls.nameCtrl.invalid">Name is required.</mat-error>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Date of birth</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="date of birth" formControlName="dobCtrl">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                  <mat-label>Gender</mat-label>
                  <input matInput placeholder="gender" formControlName="genderCtrl"/>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="address" formControlName="addressCtrl"/>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Medical record</mat-label>
                    <input matInput placeholder="description of medical history" formControlName="medicalRecordCtrl"/>
                </mat-form-field>
              </form>

              <mat-form-field appearance="fill" class="content">
                <mat-label>Caregiver</mat-label>
                <mat-select (selectionChange)="selectedValue($event)" [formControl]="selectFormControl">
                  <mat-option *ngFor="let caregiver of caregivers" [value]="caregiver.id">
                    {{caregiver.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="save()" [disabled]="userForm.invalid">Save</button>
              <button mat-raised-button color="accent"(click)="discard()">Discard</button>
            </mat-card-actions>
          </mat-card>
      </div>
    </mat-tab>
  
    <mat-tab label="View">
      <div class="table">
        <h1 class="title">View all patient records</h1>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="date of birth">
              <th mat-header-cell *matHeaderCellDef> Date of birth </th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="element.dob===null"> N/A </div>
                <div *ngIf="element.dob!==null"> {{element.dob.toString().substr(0, 10)}} </div>
              </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef> Gender </th>
              <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef> Address </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

            <ng-container matColumnDef="medical record">
                <th mat-header-cell *matHeaderCellDef> Medical record </th>
                <td mat-cell *matCellDef="let element"> {{element.medicalRecord}} </td>
            </ng-container>

            <ng-container matColumnDef="caregiver id">
                <th mat-header-cell *matHeaderCellDef> Caregiver id </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.caregiver===null"> N/A </div>
                    <div *ngIf="element.caregiver!==null"> {{element.caregiver.id}} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="caregiver name">
                <th mat-header-cell *matHeaderCellDef> Caregiver name </th>
                <td mat-cell *matCellDef="let element"> 
                    <div *ngIf="element.caregiver===null"> N/A </div>
                    <div *ngIf="element.caregiver!==null"> {{element.caregiver.name}} </div>
                </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      </div>
    </mat-tab>
  
    <mat-tab label="Update">
      <div class="container">
        <mat-card class="form">
            <mat-card-title class="title">Update an existing patient record</mat-card-title>
        
            <mat-card-content>

                <mat-form-field appearance="fill" class="content">
                    <mat-label>Choose patient</mat-label>
                    <mat-select (selectionChange)="selectedPatientValue($event)" [formControl]="selectPatientFormControl" required>
                      <mat-option *ngFor="let ds of dataSource" [value]="ds.id">
                        {{ds.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="selectFormControl.hasError('required')">Please choose which patient to update</mat-error> 
                </mat-form-field>
                  
                <form [formGroup]="userForm" class="content">
                    <mat-form-field appearance="fill">
                      <mat-label>Username</mat-label>
                      <input matInput placeholder="username" formControlName="usernameCtrl" required />
                      <mat-error *ngIf="userForm.controls.usernameCtrl.invalid">{{ usernameErrorMessage }}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label>Password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" placeholder="password" formControlName="passwordCtrl" required />
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
                        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                      </button>
                      <mat-error *ngIf="userForm.controls.passwordCtrl.invalid">Password is required!</mat-error>
                    </mat-form-field>
                </form>

              <form [formGroup]="patientForm" class="content">
                <mat-form-field appearance="fill">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="patient name" formControlName="nameCtrl" required/>
                  <mat-error *ngIf="patientForm.controls.nameCtrl.invalid">Name is required.</mat-error>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Date of birth</mat-label>
                    <input matInput [matDatepicker]="picker2" placeholder="date of birth" formControlName="dobCtrl">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                  <mat-label>Gender</mat-label>
                  <input matInput placeholder="gender" formControlName="genderCtrl"/>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="address" formControlName="addressCtrl"/>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Medical record</mat-label>
                    <input matInput placeholder="description of medical history" formControlName="medicalRecordCtrl"/>
                </mat-form-field>
              </form>

              <mat-form-field appearance="fill" class="content">
                <mat-label>Caregiver</mat-label>
                <mat-select (selectionChange)="selectedValue($event)" [formControl]="selectFormControl">
                  <mat-option *ngFor="let caregiver of caregivers" [value]="caregiver.id">
                    {{caregiver.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            
            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="update()" [disabled]="selectPatientFormControl.invalid">Save</button>
                <button mat-raised-button color="accent"(click)="discard()">Discard</button>
            </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
  
    <mat-tab label="Delete">
      <div class="containerDelete">
        <mat-card class="form">
            <mat-card-title class="title">Delete an existing patient record</mat-card-title>
            
            <mat-card-content>
              <mat-form-field appearance="fill" class="content">
                <mat-label>Choose patient</mat-label>
                <mat-select (selectionChange)="selectedPatientValue($event)" [formControl]="selectPatientFormControl" required>
                  <mat-option *ngFor="let ds of dataSource" [value]="ds.id">
                    {{ds.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="selectFormControl.hasError('required')">Please choose which patient to delete</mat-error> 
              </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
                <button mat-raised-button color="warn" (click)="delete()" [disabled]="selectPatientFormControl.invalid">Delete</button>
              </mat-card-actions>
          </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>