<mat-tab-group mat-stretch-tabs [(selectedIndex)]="index" (selectedTabChange)="onTabChanged($event);">
    <mat-tab label="Create">
      <div class="container">
        <mat-card class="form">
            <mat-card-title class="title">Create a new caregiver record</mat-card-title>
              
            <mat-card-content>
                <form [formGroup]="userForm" class="content">
                    <mat-form-field appearance="fill">
                      <mat-label>Username</mat-label>
                      <input matInput placeholder="username" formControlName="usernameCtrl" required />
                      <mat-error *ngIf="userForm.controls.usernameCtrl.invalid">{{ usernameErrorMessage }}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label>Password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" placeholder="password" formControlName="passwordCtrl" required />
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
                        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                      </button>
                      <mat-error *ngIf="userForm.controls.passwordCtrl.invalid">Password is required!</mat-error>
                    </mat-form-field>
                </form>

                <form [formGroup]="caregiverForm" class="content">
                    <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="caregiver name" formControlName="nameCtrl" required/>
                    <mat-error *ngIf="caregiverForm.controls.nameCtrl.invalid">Name is required.</mat-error>
                    </mat-form-field>
        
                    <mat-form-field appearance="fill">
                        <mat-label>Date of birth</mat-label>
                        <input matInput [matDatepicker]="picker" placeholder="date of birth" formControlName="dobCtrl">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
        
                    <mat-form-field appearance="fill">
                    <mat-label>Gender</mat-label>
                    <input matInput placeholder="gender" formControlName="genderCtrl"/>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Address</mat-label>
                        <input matInput placeholder="address" formControlName="addressCtrl"/>
                    </mat-form-field>
                </form>

                <mat-form-field appearance="fill" class="content">
                    <mat-label>Assign patients</mat-label>
                    <mat-select [formControl]="selectPatientsFormControl" [(value)]="selectedPatients" multiple>
                      <mat-option *ngFor="let patient of patients" [value]="patient.id">{{patient.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </mat-card-content>
    
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="save()" [disabled]="userForm.invalid">Save</button>
              <button mat-raised-button color="accent"(click)="discard()">Discard</button>
            </mat-card-actions>
          </mat-card>
      </div>
    </mat-tab>
  
    <mat-tab label="View">
      <div class="table">
        <h1 class="title">View all caregiver records</h1>
        <h3 class="title">Click on a caregiver to view assigned patients</h3>

        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="date of birth">
                <th mat-header-cell *matHeaderCellDef> Date of birth </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.dob===null"> N/A </div>
                    <div *ngIf="element.dob!==null"> {{element.dob.toString().substr(0, 10)}} </div>
                </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef> Gender </th>
                <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
              </ng-container>
  
              <ng-container matColumnDef="address">
                  <th mat-header-cell *matHeaderCellDef> Address </th>
                  <td mat-cell *matCellDef="let element"> {{element.address}} </td>
              </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    
                    <div class="example-element-description">
                        <div class="example-element-diagram">
                            <div class="example-element-symbol"> Patient Id. </div>
                            <div class="example-element-name"> Patient name </div>
                        </div>
                        <div *ngFor="let patient of element.patients">
                            <div class="example-element-diagram">
                                <div class="example-element-symbol"> Id. {{patient.id}} </div>
                                <div class="example-element-name"> {{patient.name}} </div>
                            </div>
                        </div>
                    </div>
                </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
      </div>
    </mat-tab>
  
    <mat-tab label="Update">
      <div class="container">
        <mat-card class="form">
            <mat-card-title class="title">Update an existing caregiver record</mat-card-title>

            <mat-card-content>

                <mat-form-field appearance="fill" class="content">
                    <mat-label>Choose caregiver</mat-label>
                    <mat-select (selectionChange)="selectedCaregiverValue($event)" [formControl]="selectCaregiverFormControl" required>
                      <mat-option *ngFor="let ds of dataSource" [value]="ds.id">
                        {{ds.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="selectCaregiverFormControl.hasError('required')">Please choose which caregiver to update</mat-error> 
                </mat-form-field>

                <form [formGroup]="userForm" class="content">
                    <mat-form-field appearance="fill">
                      <mat-label>Username</mat-label>
                      <input matInput placeholder="username" formControlName="usernameCtrl" required />
                      <mat-error *ngIf="userForm.controls.usernameCtrl.invalid">{{ usernameErrorMessage }}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label>Password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" placeholder="password" formControlName="passwordCtrl" required />
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
                        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                      </button>
                      <mat-error *ngIf="userForm.controls.passwordCtrl.invalid">Password is required!</mat-error>
                    </mat-form-field>
                </form>

              <form [formGroup]="caregiverForm" class="content">
                <mat-form-field appearance="fill">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="caregiver name" formControlName="nameCtrl" required/>
                  <mat-error *ngIf="caregiverForm.controls.nameCtrl.invalid">Name is required.</mat-error>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Date of birth</mat-label>
                    <input matInput [matDatepicker]="picker1" placeholder="date of birth" formControlName="dobCtrl">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                  <mat-label>Gender</mat-label>
                  <input matInput placeholder="gender" formControlName="genderCtrl"/>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="address" formControlName="addressCtrl"/>
                </mat-form-field>
              </form>

              <mat-form-field appearance="fill" class="content">
                <mat-label>Assign patients</mat-label>
                <mat-select [formControl]="selectPatientsFormControl" [(value)]="selectedPatients" multiple>
                  <mat-option *ngFor="let patient of patients" [value]="patient.id">{{patient.name}}</mat-option>
                </mat-select>
              </mat-form-field>

            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="update()" [disabled]="selectCaregiverFormControl.invalid">Save</button>
                <button mat-raised-button color="accent"(click)="discard()">Discard</button>
            </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
  
    <mat-tab label="Delete">
      <div class="containerDelete">
        <mat-card class="form">
            <mat-card-title class="title">Delete an existing caregiver record</mat-card-title>
            
            <mat-card-content>
              <mat-form-field appearance="fill" class="content">
                <mat-label>Choose caregiver</mat-label>
                <mat-select (selectionChange)="selectedCaregiverValue($event)" [formControl]="selectCaregiverFormControl" required>
                  <mat-option *ngFor="let ds of dataSource" [value]="ds.id">
                    {{ds.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="selectCaregiverFormControl.hasError('required')">Please choose which caregiver to delete</mat-error> 
              </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
                <button mat-raised-button color="warn" (click)="delete()" [disabled]="selectCaregiverFormControl.invalid">Delete</button>
              </mat-card-actions>
          </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>