@import "../../variables";

.form {
  width: 800px;
  margin: 50px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  //flex-direction: column;
  justify-content: center;
  height: 850px;
}

.containerDelete {
  display: flex;
  justify-content: center;
  height: 350px;
}

.title {
  color: $deep-purple;
  font-weight: 300;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.table {
    margin: 20px 100px;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.example-element-diagram {
  min-width: 80px;
  border: 1px solid $dark-grey;
  padding: 8px;
  font-weight: 400;
  margin: 0px 0.5px;
  min-width: 120px;
  font-size: 14px;
}

.example-element-symbol {
  //font-weight: bold;
  font-size: 14px;
  line-height: normal;
  padding-bottom: 3px;
  border-bottom: 1px solid $dark-grey;
  margin-bottom: 3px;
}

.example-element-description {
  padding: 12px;
  display: flex;
  justify-content: center;
}

.example-element-description-attribution {
  opacity: 0.5;
}