$black: #000000;
$grey-black: #0e0e0ee8;
$white: #ffffff;

$indigo: #3f51b5;
$light-indigo: #aab1eb;
$light-grey: #fafafa;
$dark-grey: #c5c5c5;
$pink: #ff4081;

$yellow: #ffd740;
$red: #f44336;
$deep-purple: #673ab7;
$hover: #6036a8;

// Extra large devices (large desktops, 1200px and up)
$xl-screen: 1200px;

// Large devices (desktops, 992px and up)
$l-screen: 992px;

// Medium devices (tablets, 768px and up)
$m-screen: 768px;

// Small devices (landscape phones, 576px and up)
$s-screen: 576px;