@import "variables";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  color: $grey-black;
  background: $light-grey;
  font-weight: 400;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}