@import "../../variables";

.form {
  width: 800px;
  margin: 50px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  //flex-direction: column;
  justify-content: center;
  height: 900px;
}

.containerDelete {
  display: flex;
  justify-content: center;
  height: 350px;
}

.title {
  color: $deep-purple;
  font-weight: 300;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

table {
  width: 100%;
}

.table {
    margin: 20px 100px;
}

.medication-container {
  overflow-y: scroll;
  height: 500px;
  padding-right: 10px;
}

.group {
  padding-top: 10px;
  border: 1px solid $dark-grey;
  padding: 10px;
  border-radius: 2px;
}