<mat-tab-group mat-stretch-tabs [(selectedIndex)]="index" (selectedTabChange)="onTabChanged($event);">
    <mat-tab label="Create">
      <div class="container">
        <mat-card class="form">
          <mat-card-title class="title">Create a new medication plan for a patient</mat-card-title>
            
          <mat-card-content>
            <mat-form-field appearance="fill" class="content">
                <mat-label>Choose patient</mat-label>
                <mat-select (selectionChange)="selectedPatientValue($event)" [(value)]="selectedPatient" [formControl]="selectPatientFormControl" required>
                  <mat-option *ngFor="let ds of patients" [value]="ds.id">
                    {{ds.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="content">
                <mat-label>Treatment period</mat-label>
                <input matInput placeholder="period of treatment" [formControl]="treatmentPeriodFormControl"/>
            </mat-form-field>

            <section class="medication-container">
              <div *ngFor="let form of medicationForm">
                <form [formGroup]="form" class="content group">
                  <mat-form-field appearance="fill">
                    <mat-label>Medicine</mat-label>
                    <mat-select [(value)]="selectedMed" name="medicine" formControlName="medicationCtrl">
                      <mat-option *ngFor="let medicine of medication" [value]="medicine.id">
                        {{medicine.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
      
                  <mat-form-field appearance="fill">
                    <mat-label>Intake interval</mat-label>
                    <input matInput placeholder="intake interval" formControlName="intakeIntervalCtrl"/>
                  </mat-form-field>
                </form>
              </div>
            </section>
            

          </mat-card-content>
  
          <mat-card-actions>
            <button mat-raised-button color="accent" (click)="addOneField()">
              <mat-icon>plus_one</mat-icon>
            </button>
            <button mat-raised-button color="accent" (click)="minusOneField()" >
              <mat-icon>remove</mat-icon>
            </button>
            <button mat-raised-button color="primary" (click)="save()">Save</button>
            <button mat-raised-button color="warn" (click)="discard()">Discard</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
  
    <mat-tab label="View">
      <div class="table">
        <h1 class="title">View all medication plans of a patient</h1>
       
        <mat-form-field appearance="fill" class="content">
            <mat-label>Choose patient</mat-label>
            <mat-select (selectionChange)="selectedPatientValue($event)" [(value)]="selectedPatient" [formControl]="selectPatientFormControl" required>
              <mat-option *ngFor="let ds of patients" [value]="ds.id">
                {{ds.name}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-card class="content" *ngFor="let plan of dataSource">
            <mat-card-title class="title">Medication plan with Id#{{plan.id}}</mat-card-title>
            <mat-card-subtitle class="title">Period of the treatment is {{plan.treatmentPeriod}}</mat-card-subtitle>
            <mat-card-content>

              <table mat-table [dataSource]="plan.medicationDistributions" class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
            
                <ng-container matColumnDef="intake interval">
                    <th mat-header-cell *matHeaderCellDef> Intake interval </th>
                    <td mat-cell *matCellDef="let element"> {{element.intakeInterval}} </td>
                </ng-container>

                <ng-container matColumnDef="med id">
                    <th mat-header-cell *matHeaderCellDef> Id. medication </th>
                    <td mat-cell *matCellDef="let element"> {{element.medication.id}} </td>
                </ng-container>

                <ng-container matColumnDef="medication name">
                    <th mat-header-cell *matHeaderCellDef> Medication name </th>
                    <td mat-cell *matCellDef="let element"> {{element.medication.name}} </td>
                </ng-container>

                <ng-container matColumnDef="dosage">
                    <th mat-header-cell *matHeaderCellDef> Dosage </th>
                    <td mat-cell *matCellDef="let element"> {{element.medication.dosage}} </td>
                </ng-container>

                <ng-container matColumnDef="side effects">
                    <th mat-header-cell *matHeaderCellDef> Side effects </th>
                    <td mat-cell *matCellDef="let element"> {{element.medication.sideEffects}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button color="warn" (click)="delete(plan)">Delete</button>
            </mat-card-actions>
        </mat-card>

      </div>
    </mat-tab>
  
  </mat-tab-group>